{% extends "basefront.html.twig" %}
{% block body %}
    <h5> Bonjour, MOI C'EST </h5>
    <h1> Théo Morgant</h1>
    </br>
    <p>
        Etudiant en 2 ème année de BTS SIO,
    </p>
    <p>
       je vous présente mon portfolio, vous pourrez ainsi découvrir mes réalisations professionnelles et mon parcours.
    </p>
    

{%endblock %}



