{% extends "basefront.html.twig" %}
{% block body %}
    
    <h1 class="ap1-titre"> RGPS</h1>
    <div class="box1">
        <div class="div-categorie">
            <h6 class="h6-categorie"> Catégorie </h6>
            <span> Application web </span>
        </div>
        <div class="div-matiere">
            <h6 class="h6-categorie"> Cadre de réalisation </h6>
            <span> 3 ème année de BUT Informatique </span>
        </div>
        <div>
            <img class="img-banniere" src="{{ asset('images/SaeBannière.png') }}" alt="Image interface application windows" />
        </div>
        <br>
        <div class="context">
            <br>
            <h3> Description de l'application </h3>  
            <br>
            <a> RGPS est une application web conçue pour afficher les refuges non gardés en montagne. Basée sur
une carte interactive, cette application offre la possibilité d'ajouter de nouveaux refuges, en tenant
compte des récentes constructions. Elle est destinée à évoluer en un site collaboratif où les
utilisateurs pourront participer activement en ajoutant eux-mêmes des refuges. 
            </a>
        </div>
        <br>
        <br>
        <h3> Fichiers à télécharger ou consulter </h3>
        <br>
        <div class="centre">
            <ul>
                <li>
                    <a class="fich2" href="{{ asset('fichiers/Stage1/compte_rendu_stage1.pdf') }}" download="compte_rendu.pdf"> Compte rendu</a>
                </li>
                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage1/Documentation_utilisateur_stage1.pdf') }}" download="Documentation.pdf"> Documentation utilisateur</a>
                </li>
                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage1/E4_tableau_de_synthese.pdf') }}" download="tableauSynthèse.pdf"> Tableau de synthèse </a>
                </li>
            </ul>
        </div>
        <br>
        <div class="re">
            <div class="divCompetence">
                <br>
                <h3> Compétences couvertes </h3>
                <br>
                <br>
                <h4> Gérer le patrimoine informatique </h4>
                <br>
                <ul>
                    <li>
                        <a>Exploiter des référentiels, normes et standards adoptés par le prestataire informatique</a>
                    </li>
                </ul>
                </br>
                <h4>Répondre aux incidents et aux demandes d'assistance et d'évolution </h4>
                <br>
                <ul>
                    <li>
                        <a>Collecter, suivre et orienter des demandes</a>
                    </li>
                    <li>
                        <a>Traiter des demandes concernant les applications</a>
                    </li>
                </ul>
                </br>
                <h4>Développer la présence en ligne de l'organisation</h4>
                <br>

                <ul>
                    <li>
                        <a>Participer à l'évolution d'un site web exploitant les données de l'organisation</a>
                    </li>
                </ul>
                </br>
                <h4> Travailler en mode projet</h4>
                <br>
                <ul>
                    <li>
                        <a>Analyser les objectifs et les modalités d'organisation d'un projet</a>
                    </li>
                    <li>
                        <a>Planifier les activités</a>
                    </li>
                </ul>
                </br>
                <h4>Mettre à disposition des utilisateurs un service informatique</h4>
                <br>
                <ul>
                    <li>
                        <a>Réaliser les tests d'intégration et d'acceptation d'un service</a>
                    </li>
                    <li>
                        <a>Déployer un service</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="re">
            <div class="centre">
                <br>
                <h3> Technologies utilisées</h3>
                <br>
                <br>
                <ul>
                    <li>
                        <a> Backend </a>
                    </li>
                    <ul>
                        <li>
                            <a> React </a>
                        </li>
                        <li>
                            <a> React Router </a>
                        </li>
                        <li>
                            <a> Axios </a>
                        </li>
                    </ul>
                    <li>
                        <a> Frontend </a>
                    </li>
                    <ul>
                        <li>
                            <a> Laravel </a>
                        </li>
                        <li>
                            <a> PostgresSQL </a>
                        </li>
                        <li>
                            <a> Eloquent ORM</a>
                        </li>
                        <li>
                            <a> Docker </a>
                        </li>
                    </ul>
                    <li>
                        <a> Autres technologies </a>
                    </li>
                    <ul>
                        <li>
                            <a> Git/GitHub </a>
                        </li>
                        <li>
                            <a> Visual studio code </a>
                        </li>
                </ul>
            </div>
        </div>
                
    </div>


{% endblock %}

