{% extends "basefront.html.twig" %}
{% block body %}
    
    <h1 class="ap1-titre"> Gestion RH</h1>
    <div class="box1">
        <div class="div-categorie">
            <h6 class="h6-categorie"> Catégorie </h6>
            <span> Application web </span>
        </div>
        <div class="div-matiere">
            <h6 class="h6-categorie"> Cadre de réalisation </h6>
            <span> Stage de première année </span>
        </div>
        <div>
            <img class="img-banniere" src="{{ asset('images/Stage1Bannière.png') }}" alt="Image interface application windows" />
        </div>
        <br>
        <div class="context">
            <br>
            <h3> Description de l'application </h3>  
            <br>
            <a> GestionRH est une interface web permettant aux RH de recevoir des candidatures (lettres de motivations/CV) et de poster/modifier des offres d'emplois qui seront diffusées soit en interne, soit sur la partie publique du site. Elle permet de gérer des listes de paramètres et de les comparer entre plusieurs tables. Ainsi le tri est facilité. D'autres fenêtres permettent d'ajouter et de modifier certaines tables.
            </a>
        </div>
        <br>
        <br>
        <h3> Fichiers à télécharger ou consulter </h3>
        <br>
        <div class="centre">
            <ul>
                <li>
                    <a class="fich2" href="{{ asset('fichiers/Stage1/compte_rendu_stage1.pdf') }}" download="compte_rendu.pdf"> Compte rendu</a>
                </li>
                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage1/Documentation_utilisateur_stage1.pdf') }}" download="Documentation.pdf"> Documentation utilisateur</a>
                </li>
                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage1/E4_tableau_de_synthese.pdf') }}" download="tableauSynthèse.pdf"> Tableau de synthèse </a>
                </li>
            </ul>
        </div>
        <br>
        <div class="re">
            <div class="divCompetence">
                <br>
                <h3> Compétences couvertes </h3>
                <br>
                <br>
                <h4> Gérer le patrimoine informatique </h4>
                <br>
                <ul>
                    <li>
                        <a>Exploiter des référentiels, normes et standards adoptés par le prestataire informatique</a>
                    </li>
                </ul>
                </br>
                <h4>Répondre aux incidents et aux demandes d'assistance et d'évolution </h4>
                <br>
                <ul>
                    <li>
                        <a>Collecter, suivre et orienter des demandes</a>
                    </li>
                    <li>
                        <a>Traiter des demandes concernant les applications</a>
                    </li>
                </ul>
                </br>
                <h4>Développer la présence en ligne de l'organisation</h4>
                <br>

                <ul>
                    <li>
                        <a>Participer à l'évolution d'un site web exploitant les données de l'organisation</a>
                    </li>
                </ul>
                </br>
                <h4> Travailler en mode projet</h4>
                <br>
                <ul>
                    <li>
                        <a>Analyser les objectifs et les modalités d'organisation d'un projet</a>
                    </li>
                    <li>
                        <a>Planifier les activités</a>
                    </li>
                </ul>
                </br>
                <h4>Mettre à disposition des utilisateurs un service informatique</h4>
                <br>
                <ul>
                    <li>
                        <a>Réaliser les tests d'intégration et d'acceptation d'un service</a>
                    </li>
                    <li>
                        <a>Déployer un service</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="re">
            <div class="centre">
                <br>
                <h3> Technologies utilisées</h3>
                <br>
                <br>
                <ul>
                    <li>
                        <a> C# </a>
                    </li>
                    <li>
                        <a> CSS & Bootstrap </a>
                    </li>
                    <li>
                        <a> HTML </a>
                    </li>
                    <li>
                        <a> Visual Studio </a>
                    </li>
                    <li>
                        <a> PHP </a>
                    </li>
                    <li>
                        <a> SQL Server </a>
                    </li>
                   
                </ul>
            </div>
        </div>
                
    </div>


{% endblock %}

