{% extends "basefront.html.twig" %}
{% block body %}
    
    <h1 class="ap1-titre"> Application Windows </h1>
    <div class="box1">
        <div class="div-categorie">
            <h6 class="h6-categorie"> Catégorie </h6>
            <span> Application windows </span>
        </div>
        <div class="div-matiere">
            <h6 class="h6-categorie"> Cadre de réalisation </h6>
            <span> Stage de deuxième année </span>
        </div>
        <div>
            <img class="img-banniere" src="{{ asset('images/Stage2Bannière.png') }}" alt="Image interface application windows" />
        </div>
        <br>
        <div class="context">
            <br>
            <h3> Description de l'application </h3>  
            <br>
            <a> L'application est une application Windows avec une interface graphique. Elle permet de gérer des listes de paramètres et de les comparer entre plusieurs tables. Ainsi le tri est facilité. D'autres fenêtres permettent d'ajouter et de modifier certaines tables.
            </a>
        </div>
        <br>
        <br>
        <h3> Fichiers à télécharger ou consulter </h3>
        <br>
        <div class="centre">
            <ul>
                <li>
                    <a class="fich2" href="{{ asset('fichiers/Stage2/compte_rendu_stage2.pdf') }}" download="compte_rendu.pdf"> Compte rendu</a>
            </li>

                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage2/Documentation_Projet.pdf') }}" download="Documentation.pdf"> Documentation utilisateur </a>
                </li>
                <li>
                    <a class="fich" href="{{ asset('fichiers/Stage2/E4_tableau_de_synthese.pdf') }}" download="tableauSynthèse.pdf"> Tableau de synthèse </a>
                </li>
            </ul>
        </div>
        <br>
       
        <div class="re">
            <div class="divCompetence">
                <br>
                <h3> Compétences couvertes </h3>
                <br>
                <br>
                <h4> Gérer le patrimoine informatique </h4>
                <br>
                <ul>
                    <li>
                        <a>Exploiter des référentiels, normes et standards adoptés par le prestataire informatique</a>
                    </li>
                </ul>
                </br>
                <h4>Répondre aux incidents et aux demandes d'assistance et d'évolution </h4>
                <br>

                <ul>
                    <li>
                        <a>Collecter, suivre et orienter des demandes</a>
                    </li>
                </ul>
                </br>
                <h4> Travailler en mode projet</h4>
                <br>
                <ul>
                    <li>
                        <a>Analyser les objectifs et les modalités d'organisation d'un projet</a>
                    </li>
                    <li>
                        <a>Planifier les activités</a>
                    </li>
                </ul>
                </br>
                <h4>Mettre à disposition des utilisateurs un service informatique</h4>
                <br>
                <ul>
                    <li>
                        <a>Déployer un service</a>
                    </li>
                    <li>
                        <a>Accompagner les utilisateurs dans la mise en place d'un service</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="re">
            <div class="divCompetence">
                <br>
                <h3> Technologies utilisées</h3>
                <br>
                <br>
                <ul>
                    <li>
                        <a> WinDev </a>
                    </li>
                    <li>
                        <a> HFSQL </a>
                    </li>
                     <li>
                        <a> Variables d'environnement </a>
                    </li>
                     <li>
                        <a> Planificateur de tâche </a>
                    </li>
                </ul>
            </div>
        </div>
                
    </div>


{% endblock %}

