{% extends "basefront.html.twig" %}
{% block body %}
    </br>
    <h1> Veille technologique </h1>
    </br>
    <div>
        <p> Dans un domaine qui évolue très vite, je me forme régulièrement aux nouvelles technologies. J'avais suivi 
            le MOOC SecNumacadémie de l'ANSSI afin d'en apprendre plus en terme de sécurité informatique et de bonnes pratiques qui sont essentielles dans le 
            monde professionnel. En parallèle, mon stage de deuxième année m'a permis 
            de découvrir mon attrait pour le monde de l'ERP, et m'a décidé à envisager une poursuite d'étude en licence informatique afin intégrer par 
            la suite le monde du travail.
            J'ai également un intérêt marqué par le développement web me poussant à en apprendre davantage et à me perfectionner. 
            
    
        </p>
    </div>
    </br>
    </br>
    <div>
        <a> Voici mon profil LinkedIn: </a>
        <a href="https://www.linkedin.com/in/th%C3%A9o-morgant-14a889262/" class="fa fa-linkedin"></a>
    </div>
    </br>
    <div>
        <ul>
            <li>
                <a> Ainsi que mon CV: </a>
                <a class="cv" href="{{ asset('fichiers/CV.pdf') }}" download="CV.pdf"> Curriculum vitæ </a>
            </li>
        </ul>
    </div>
            
                

{%endblock %}
