{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block top %}
    <nav>
        <ul>
            <li> <a href="{{ path('index') }}"> Accueil</a></li>
            <li> <a href="{{ path('portfolio') }}"> Portfolio</a></li>
            <li> <a href="{{ path('veille') }}"> Veille technologique</a></li>
            <li> <a href="#"> Contact</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    
{% endblock %}

{% block footer %}
    <footer>
        <div>
            <hr>
            <a href="#" class='footer-a'> Mentions légales </a>
            </br>
            <a href="#" class='footer-a'> Politique de confidentialité </a>
            
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    
{% endblock %}